:host {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.carousel-item {
    height: 475px;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
    width: 100%; 
}

