// :host {
//     background-color: black;
//     display: block; 
//     min-height: 100vh;
// }

.logo{
    height: 7rem;
    width: auto;
}
.logo img{
    height: 100%;
    width: auto;
}

.alt{
    height: 200px;
}