:host {
    background-color: black;
    display: block; 
    min-height: 100vh;
}

.logo{
    height: 7rem;
    width: auto;
}
.logo img{
    height: 100%;
    width: auto;
}

a:hover {
    color: white!important;
}


:host {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
