<div class="container">
    <h2 class="my-3">STARSHIP</h2>
  @if(starship$ | async; as starship){
    <img [src]="imageUrl" alt="Image of {{ starship.name }}" class="mb-3" (error)="imageError()">
  <div class="text-white">
    <h2>{{(starship.name).toUpperCase() }}</h2>
    <p>
      The {{ starship.name }} is distinguished for its capability to carry up to
      {{ starship.passengers }} passengers and has a cargo capacity of
      {{ starship.cargo_capacity }} kg. It features a hyperdrive rating of
      {{ starship.hyperdrive_rating }} and it supports consumables for up to
      {{ starship.consumables }}.
    </p>

    <p>Model: {{ starship.model }}</p>
    <p>Const in credits: {{ starship.cost_in_credits }}</p>
    <p>Atmospheric Spedd: {{ starship.max_atmosphering_speed }}</p>
    <p>Manufacturer: {{ starship.manufacturer }}</p>
    <p>Length: {{ starship.length }}</p>
    <p>Crew: {{ starship.crew }}</p>
  </div>
  }
  <button routerLink="/starships">Starship list</button>
</div>

