:host {
    background-image: url('/assets/space-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: block; 
    min-height: 100vh;
}

.logo{
    height: 7rem;
    width: auto;
}
.logo img{
    height: 100%;
    width: auto;
}