
<!-- <div class="logo d-flex justify-content-center">
    <img class=" mt-5" src="/assets/logo.webp">
</div> -->

<div class="container py-5">

    <@if (showAlert){
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ alertMessage }}</strong>
        <button type="button" class="btn-close" aria-label="Close" data-dismis="alert" (click)="closeAlert()">
        </button>
    </div>
    }

        <div class="card p-4">
            <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
                <div class="form-group my-2">
                <label for="email">Email address</label>
                <input type="email" formControlName= "email" class="form-control my-2" placeholder="Enter Email">
                <div class="text-danger mt-1" [hidden]="email.valid || email.pristine">
                    
                    <small>
                        @if(email.errors?.['required']){
                        Email is required}</small>
                   <small>
                        @if(email.errors?.['email']){
                        Email should be valid}</small>
                </div>
                </div>
                <div class="form-group my-2">
                    <label for="password">Password</label>
                    <input type="password" formControlName= "password" class="form-control my-2" placeholder="Password">
                    <div class="text-danger mt-1" [hidden]="password.valid || password.pristine">
                        <small>
                            @if(password.errors?.['required']){
                            Password is required}</small>
                        <small>
                            @if(password.errors?.['pattern']){
                            Password should be valid}</small>
                    </div>
                    </div>

                    <button type="submit" class="btn btn-secondary" [disabled]="loginForm.invalid">SIGN IN </button>


                <div class="my-2">
                    <span>Not a member? </span><a routerLink="/register">Register</a>

                </div>
            
            </form>
    
        </div>
    </div>
    

