.cardCustom{
    background-color: #151515;
}
.textName{
    font-size: 90%;
}

.textModel{
    font-size: 80%;
}

.cardCustom:hover span{
    color: white;
}
:host {
    font-family: 'Victor Mono', monospace;
}
