@if(films$ | async; as films){
    @if(films.length >0) {
<div class="container">
    <h2 class="mt-5 mb-3">FILMS</h2>
    <hr class="mb-4" />
    <div class="d-flex flex-wrap justify-content-around">
        @for(film of films; track $index){
            <div class="d-flex">
                <div class="my-4 card bg-black border border-0">
            <img [src]="getFilmImage(film.url)" class= "rounded-4" alt="{{film.title}}"> 
            <div class="card-body bg">
                <span class="card-text text-white"><strong>{{(film.title).toUpperCase()}}</strong></span><br>
                <span class="card-text text-white">Episode {{film.episode_id}}</span>

            </div>
        </div>
    </div>
    }
</div>
</div>
}
}
